[submodule "libs/mmdetection"]
	path = libs/mmdetection
	url = https://github.com/Hung304-WBLEM/mmdetection.git
[submodule "libs/Object-Detection-Metrics"]
	path = libs/Object-Detection-Metrics
	url = https://github.com/Hung304-WBLEM/Object-Detection-Metrics.git
[submodule "libs/cocoapi"]
	path = libs/cocoapi
	url = https://github.com/Hung304-WBLEM/cocoapi.git
[submodule "libs/augmix"]
	path = libs/augmix
	url = https://github.com/Hung304-WBLEM/augmix.git
[submodule "libs/T2T-ViT"]
	path = libs/T2T-ViT
	url = https://github.com/Hung304-WBLEM/T2T-ViT.git
[submodule "libs/TransFG"]
	path = libs/TransFG
	url = https://github.com/Hung304-WBLEM/TransFG.git
[submodule "libs/dino"]
	path = libs/dino
	url = https://github.com/Hung304-WBLEM/dino.git
[submodule "mae"]
	path = mae
	url = https://github.com/Hung304-WBLEM/mae.git
[submodule "libs/mae"]
	path = libs/mae
	url = https://github.com/Hung304-WBLEM/mae.git
